/* Utility Classes */
:root {

  /* document color pattern */
  --light-gray: hsl(0, 0%, 98%);
  --pale-red-300: hsl(12, 22%, 95%);
  --pale-red: hsl(13, 100%, 96%);
  --dark-blue-100: hsl(236, 13%, 24%);
  --dark-blue-200: hsl(235, 13%, 16%);
  --dark-blue-paragraph: hsl(240, 6%, 58%);
  --primary-dark-blue: hsl(236, 32%, 28%);
  --primary-bright-red: hsl(12, 88%, 59%);
  --primary-bright-red-300: hsl(12, 91%, 73%);
  --white: hsl(0, 0%, 100%);

  /* Document font family */
  --ff-primary: 'Be Vietnam Pro', sans-serif;
  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-primary);

  /* font weight */
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  /* font sizes */
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.5rem;
  --fs-750: 1.8rem;
  --fs-800: 2.1rem;
  --fs-900: 3rem;

  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-750);

  --fs-body: var(--fs-400);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  /* size for padding, margin etc... */
  --size-100: 0.25rem;
  --size-200: 0.50rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-450: 1.2rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
  --size-lg: 7rem;
}

/* changing fonts on different screen sizes */
@media screen and (min-width : 50em) {
  :root {
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);

    --fs-body: var(--fs-500);
    --fs-nav: var(--fs-300);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul,
 ol elements with a list role, which suggests
  default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* overflow: hidden; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and 
smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility  classes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 2em);
}

.text-dark-blue {
  color: var(--dark-blue-200);
}

.text-primary-blue {
  color: var(--primary-dark-blue);
}

.text-bright-red {
  color: var(--primary-bright-red);
}

.text-pale-red {
  color: var(--pale-red);
}

.bg-dark-blue {
  background-color: var(--dark-blue-200);
}

.bg-primary-blue {
  background-color: var(--primary-dark-blue);
}

.bg-bright-red {
  background-color: var(--primary-bright-red);
}

.bg-pale-red {
  background-color: var(--pale-red);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.3;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.2;
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-block-400 {
  padding-block: var(--size-400);
}

p {
  color: var(--dark-blue-paragraph);
}

h1,
h2 {
  color: var(--primary-dark-blue);
}

.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - var(--padding)*2);
  margin-inline: auto;
}

/* .even-column {
  display: grid;
  gap: 1rem;
} */

.even-column,
.flex-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width:58rem) {
  .flex-footer {
    flex-direction: row;
  }
}

@media screen and (max-width:58rem) {
  .footer-nav{
    padding-block: var(--size-700);
  }
  .social-media-icon {
    margin-top: var(--size-700);
  }
}

@media screen and (max-width:30rem) {
  .flex-footer {
    flex-direction: column-reverse;
  }
}

.reverse {
  flex-direction: column-reverse;
}

@media screen and (min-width:30em) {
  .even-column {
    flex-direction: row;
  }

  .column {
    flex: 50%;
  }

  .column-sm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex: 33%;
  }
}


@media screen and (min-width:30em) {
  .even-column {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .intro {
    line-height: 1.8;
    max-width: 32ch;
    margin-bottom: 1rem;
  }
}

p{
  line-height: 2;
}

p:not([class]) {
  line-height: 1.8;
  max-width: 32ch;
}

p[data-width='wide'] {
  max-width: 42ch;
}

@media screen and (max-width:30em) {

  h1,
  h2 {
    text-align: center;
  }

  .first {
    justify-content: center;
  }

  .intro,
  .first .button {
    display: block;
    margin-top: 1rem;
    margin-inline: auto;
    text-align: center;
  }

  .bg-call-to-action {
    text-align: center;
  }

  .intro {
    max-width: 32ch;
    margin-bottom: 2rem;
  }

  .pb-200 {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width:30em) {
  .fs-secondary-heading {
    max-width: 16ch;
    margin-inline: auto;
  }
}

.vertical-item-center {
  align-items: center;
}

.max-ch {
  max-width: 15ch;
}


/* General Styles */

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--dark-blue);
}

/* buttons */
.button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 100vmax;
  padding: var(--size-400) var(--size-600);
  font-size: var(--fs-button);
  font-weight: var(--fw-bold);
  line-height: 1;
  color: var(--pale-red);
  background-color: var(--primary-bright-red);
  box-shadow: 0 1em 1em -1em var(--primary-bright-red);
}

.button[data-type='inverted'] {
  color: var(--primary-bright-red);
  background-color: var(--pale-red);
}

@media screen and (max-width:30rem) {
  .button[data-type='inverted'] {
    margin-top: var(--size-600);
  }
  .heading-paragraph{
    font-size: var(--fs-800);
    line-height: 1.5;
    max-width: 12ch !important;
  }
}

.button[data-type='inverted']:hover,
.button[data-type='inverted']:focus-visible {
  color: var(--primary-bright-red-300);
  background-color: var(--pale-red);
}

.button:hover,
.button:focus-visible {
  background-color: var(--primary-bright-red-300);
}

/* 0. Header part styles */
.primary-header {
  margin-top: var(--size-700);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
  z-index: 1000;
}

.nav-list {
  display: flex;
  gap: clamp(var(--size-400), 5vw, var(--size-700));
}

.nav-list li a {
  display: inline;
  text-decoration: none;
  font-size: var(--fs-nav);
  color: var(--dark-blue);
  font-weight: var(--fw-semi-bold);
}

.nav-list li a:hover {
  opacity: 0.5;
}

@media screen and (max-width:50em) {
  .primary-navigation {
    display: none;
    position: fixed;
    inset: var(--size-lg) var(--size-400) auto;
    border-radius: var(--size-100);
    background-color: var(--white);
    padding: var(--size-700);
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
    box-sizing: border-box;
    z-index: 100;
  }

  .primary-header[data-visible]::after {
    position: fixed;
    content: ' ';
    inset: 0;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    z-index: 1;
  }

  .nav-wrapper .button {
    display: none;
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: none;
    /* padding: 0.5em; */
  }

  .icon-close {
    display: none;
  }

  .nav-list {
    display: grid;
    gap: var(--size-400);
    text-decoration: none;
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .primary-navigation[data-visible] {
    display: block;
    position: fixed;

  }
}

/* 1. graph-section styles */
.graph-section {
  position: relative;
}

.graph-section::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./images/bg-tablet-pattern.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: -30%;
  right: -35%;
  z-index: -1;
}

@media screen and (max-width:30em) {
  .graph-section::after {
    top: -50%;
    right: -35%;
  }
}

/* 2. numbered list section styles */
.numbered-list-section {
  position: relative;
  margin: 0;
}

.numbered-list-section::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 90%;
  height: 90%;
  background: url('./images/bg-tablet-pattern.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 80%;
  left: -45%;
  z-index: -1;
}

@media screen and (max-width:30em) {

  .numbered-list-section::after {
    width: 80%;
    height: 80%;
    top: -52%;
    left: 60%;
  }
}

.numbered-list {
  list-style-type: decimal-leading-zero !important;
  counter-reset: section;
}

.numbered-list li {
  display: flex;
  align-items: baseline;
}

.numbered-list li::before {
  counter-increment: section;
  content: "0" counter(section);
  width: 4rem;
  height: 2.3rem;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--size-500);
  color: var(--pale-red);
  background-color: var(--primary-bright-red);
}

@media screen and (max-width:50em) {
  .numbered-list li::before {
    width: 6rem;
  }

  /* .aligned-list{
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */
}

/* 3. carousel section styles */
/* carousel styles*/
.carousel-section {
  text-align: center;
  padding-bottom: var(--size-600);
}

.carousel {
  display: flex !;
  /* padding: var(--size-300); */
  margin-bottom: var(--size-800);
}

.carousel::after {
  content: '';
  clear: both;
  display: table;
}

.slick-track,
.slick-list {
  padding-top: 1.5rem;
}

.card {
  position: relative;
  overflow: visible !important;
  background-color: var(--light-gray) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
  margin: 1rem;
  border-radius: var(--size-100);
}

.card img {
  position: absolute;
  top: -3rem;
  left: calc(50% - 3rem);
  max-width: 6rem;
}

.card-description {
  padding-top: var(--size-800);
  padding-inline: var(--fs-400);
  padding-bottom: var(--size-500);
}

.card-description p {
  max-width: 42ch;
  text-align: center;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

button[role='tab'] {
  margin: var(--size-100);
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
  border: 2px solid var(--primary-bright-red);
  background: transparent;
  font-size: 2px;
  color: transparent;
}

button[aria-selected='true'] {
  background-color: var(--primary-bright-red);
}

/* 4. call to action styles */
.bg-call-to-action {
  position: relative;
  isolation: isolate;
  background-image: url("./images/bg-simplify-section-mobile.svg");
  background-position: left center;
  background-size: 5em;
  background-repeat: no-repeat;
}

@media screen and (min-width:30em) {
  .bg-call-to-action {
    position: relative;
    isolation: isolate;
    background-image: url("./images/bg-simplify-section-desktop.svg");
    background-size: cover;
    background-position: 20rem bottom;
    background-repeat: no-repeat;
  }

  .justify-self-end {
    display: flex;
    justify-content: flex-end;
  }
}


/* 5. FOOTER STYLES */

p.fs-secondary-heading {
  max-width: 20ch;
}

/* 5.1 social media icons list */
.social-media-icon {
  width: 100%;
  display: flex;
  gap: var(--size-300);
}

@media screen and (max-width:30rem) {
  .centered-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo{
    margin-top: var(--size-700);
    order: 2;
  }
  .social-media-icon {
    margin-top: 0;
    padding-inline: var(--size-500);
    order: 1;
    justify-content: space-around;
  }

  .footer-nav {
    width: 70%;
    margin: auto;
  }
}


/* @media screen and (max-width: 30rem) {
  .social-media-icon{
    align-items: center;
  }
} */

.social-media-icon li:hover a img {
  background-color: red;
}

/* 5.2 footer navigation */
.footer-nav ul li a {
  text-decoration: none;
  color: var(--pale-red);
}

.footer-nav ul li a:hover {
  color: var(--primary-bright-red);
}

.footer-nav-columns {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

/* 5.3 footer form section */

.wide-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width:30em) {
  #email {
    flex-grow: 8;
  }

  .form-button {
    flex-grow: 2;
  }
}


input[type='email'],
input[type='email']:focus {
  position: relative;
  border-radius: 100vmax;
  border: none;
  outline: none;
  padding-block: var(--size-200);
  padding-inline: var(--size-600);
  padding-left: 1.5em;
  font-size: var(--fs-300);
}

.form-button {
  margin-left: var(--size-300);
  padding: var(--size-300) var(--size-450);
}

input[type='email']:invalid {
  color: hsl(0, 61%, 60%);
}

form {
  position: relative;
  overflow: hidden;
}

.error {
  display: none;
}

form::before {
  content: 'Please insert a valid email';
  position: absolute;
  font-size: var(--fs-300);
  color: hsl(0, 61%, 60%);
  top: 102%;
  left: 1rem;
}

.copy-right{
  margin-right: var(--size-900);
  text-align: right;
}
@media screen and (max-width:30em) {
  .copy-right{
    text-align: center;
    margin: var(--size-700) 0 0 0;
  }
}